@model BillingSystemMVC.BLL.Model.ZonesAndTariffs
@{
    ViewData["Title"] = "AddClient";
}

<h1>Добави Клиент</h1>
<style>
    .form-group {
        border: 1px solid;
        border-radius: 7px;
        text-indent: initial;
        padding: 10px;
        width: 50%;
        text-align: left;
        font-size: 100%;
        font-family: Verdana, sans-serif;
        margin-bottom: 0rem;
    }

    .btn{
        margin: 5px;
    }

    body .form-group {
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
</style>
@using (Html.BeginForm("AddClient", "Clients"))
{
    <div class="form-group">
        <label for="exampleInputName">Трите имена</label>
        <input type="text" class="form-control" id="ClientName" name="ClientName">
    </div>
    <div class="form-group">
        <label for="exampleInputAddress">Адрес</label>
        <input type="text" class="form-control" id="Address" name="Address">
    </div>
    <div class="form-group">
        <label for="exampleInputPhoneNumber">Телефон</label>
        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber">
    </div>
    <div class="form-group">
        <label for="tariff">Тарифа</label>
        <select class="form-control" id="tariff" name="tariff">
            @foreach (var t in Model.Tariffs)
            {
                <option>
                    @t.Name
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="zones">Зона</label>
        <select class="form-control" id="zones" name="Zone">
            @foreach (var z in Model.Zones)
            {
                <option>
                    @z.Town
                </option>
            }
        </select>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="PonClient">
        <label class="form-check-label" for="Pon">Пон Клиент</label>
    </div>
    <div class="form-group">
        <label for="comment">Коментар</label>
        <input type="text" class="form-control" id="Comment" name="Comment">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
