@model BillingSystemMVC.Model.Zone
@{
    ViewData["Title"] = "AddZone";
}

<h1>Добави Профил</h1>
@using (Html.BeginForm("AddZone", "Zone"))
{
    <div class="form-group">
        <label for="Owner">Собсетвеник</label>
        <input type="text" class="form-control" id="Owner" name="Owner">
    </div>
    <div class="form-group">
        <label for="Town">Населено Място</label>
        <input type="text" class="form-control" id="Town" name="Town">
    </div>
    <button type="submit" class="btn btn-primary">Добави</button>
}